Repository alphappy/ArchipelagoRW, pull requests merged in 2025-05, with the labels that each got.

#147 Fix typos in item name definitions
  worlds/rain_world/items.py
Labels: is: bug, is: documentation

#150 Fix incorrect logic for scholar passage
  worlds/rain_world/locations/passages.py
Labels: is: logical error

#151 Fix gates to Filtration not requiring glow
  worlds/rain_world/regions/gates.py
Labels: is: logical error

#152 Make longer cycles a progression item
  worlds/rain_world/items.py
Labels: is: logical error

#148 Add item groups for regions and passage tokens
  worlds/rain_world/items.py
Labels: is: player feature

#98 Add dev tokens
  worlds/rain_world/__init__.py
  worlds/rain_world/game_data/data.py
  worlds/rain_world/game_data/generate.py
  worlds/rain_world/locations/tokens_pearls.py
  worlds/rain_world/options.py
Labels: is: player feature, meta: plugin integration

#167 Prevent ZeroDivisionError when setting all weights to zero
  worlds/rain_world/__init__.py
  worlds/rain_world/options.py
Labels: is: generation failure

#168 Use more robust necklace method for generating a derangement
  worlds/rain_world/regions/warping.py
  worlds/rain_world/utils.py
Labels: is: bug

#172 Add debug_output option
  worlds/rain_world/__init__.py
  worlds/rain_world/options.py
Labels: is: documentation

#169 Eliminate Option-Glow
  worlds/rain_world/__init__.py
  worlds/rain_world/items.py
  worlds/rain_world/regions/gates.py
  worlds/rain_world/regions/physical.py
Labels: is: refactor
